
html{
    background-image: url(./images/pattern-background-desktop.svg)
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}
.wholeThing{
    position: relative;
}
.illustratedMusic{ /*Unnesesary*/
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.priceBox{ /*Unnesesary*/
    width: 50%;
}
.imageWhite{
    position: relative;
    display: grid;
    place-items: center;
}
.illustration{
    position: absolute;
    top: 65px;
    left: 500px;
    padding: 5px 8px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.illustratedImage{
    width: 350px;
    height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.whiteBox{
    width: 351px;
    height: 380px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 508px;
    top: 220px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.orderSummary{
    position: absolute;
    top: 260px;
    left: 585px;
    color: hsl(223, 47%, 23%);
    font-weight: bolder;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 13px;
}
.textPara{
    position: absolute;
    top: 295px;
    left: 540px;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: hsl(224, 23%, 55%);
}

.priceBox{
    position: absolute;
    top: 360px;
    left: 520px;
    background-color: hsl(0, 0%, 97%);
    height: 80px;
    width: 320px;
    border-radius: 9px;
}
.musicIcon{
    position: absolute;
    top: 15px;
    left: 10px;
}
.annualText{
    color: hsl(222, 36%, 28%);
    position: absolute;
    bottom: 40px;
    left: 70px;
    font-size: 13px;
}
.price{
    position: absolute;
    bottom: 15px;
    left: 70px;
    color: hsl(224, 23%, 55%);
}
.changeLink{
    position: absolute;
    bottom: 30px;
    left: 230px;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    font-size: 15px;
}
changeLink:hover{
    color: orangered;
}
.procedeButton{
    height: 50px;
    width: 260px;
    background-color : hsl(245, 57%, 55%);
    position: absolute;
    top: 450px;
    left: 550px;
    border-radius: 9px;
    box-shadow: black;
}
.procedeButton button{
    position: inherit;
    height: 50px;
    width: 260px;
    background-color : hsl(245, 57%, 55%);
    border-radius: 9px;
    box-shadow: blue;
    border-style: none;
    color: white;
}
button:hover{
    cursor: pointer;
    background-color: hsl(245, 55%, 31%);
}
.cancelOrder{
    position: absolute;
    color: hsl(224, 23%, 55%);
    top: 520px;
    left: 630px;
    font-size: 13px;
}
.cancelOrder a{
    text-decoration: none;
}
/*For Mobile View*/
@media screen and (max-width: 500px) {
    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    .allOther{
        position: absolute;
        top: 50px;
        left: -100px;
    }
    .imageWhite{
        position: absolute;
        display: grid;
        place-items: center;
    }
    .illustration{
        position: absolute;
        top: 100px;
        left: 90px;
        padding: 5px 8px;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
    }
    .illustratedImage{
        width: 450px;
        height: 250px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    
    .whiteBox{
        width: 451px;
        height: 480px;
        background-color: rgb(255, 255, 255);
        position: absolute;
        left: 98px;
        top: 350px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding-bottom: 30px;
    }
    .orderSummary{
        position: relative;
        top: 350px;
        left: 335px;
        color: hsl(223, 47%, 23%);
        font-weight: bolder;
        font-family: 'Red Hat Display', sans-serif;
        font-size: 13px;
    }
    .textPara{
        position: relative;
        top: 365px;
        left: 260px;
        font-family: 'Red Hat Display', sans-serif;
        font-weight: 500;
        font-size: 20px;
        color: hsl(224, 23%, 55%);
    }
    
    .priceBox{
        position: absolute;
        top: 500px;
        left: 240px;
        background-color: hsl(0, 0%, 97%);
        height: 80px;
        width: 360px;
        border-radius: 9px;
    }
    .musicIcon{
        position: absolute;
        top: 15px;
        left: 10px;
    }
    .annualText{
        color: hsl(222, 36%, 28%);
        position: absolute;
        bottom: 40px;
        left: 70px;
        font-size: 13px;
    }
    .price{
        position: absolute;
        bottom: 15px;
        left: 70px;
        color: hsl(224, 23%, 55%);
    }
    .changeLink{
        position: absolute;
        bottom: 30px;
        left: 250px;
        font-family: 'Red Hat Display', sans-serif;
        font-weight: 700;
        font-size: 18px;
    }
    changeLink:hover{
        color: orangered;
    }
    .procedeButton{
        height: 50px;
        width: 360px;
        background-color : hsl(245, 57%, 55%);
        position: absolute;
        top: 600px;
        left: 240px;
        border-radius: 9px;
        box-shadow: black;
    }
    .procedeButton button{
        position: relative;
        height: 50px;
        width: 360px;
        background-color : hsl(245, 57%, 55%);
        border-radius: 9px;
        box-shadow: blue;
        border-style: none;
        color: white;
    }
    button:hover{
        cursor: pointer;
        background-color: hsl(245, 55%, 31%);
    }
    .cancelOrder{
        position: relative;
        color: hsl(224, 23%, 55%);
        top: 590px;
        left: 360px;
        font-size: 17px;
    }
    .cancelOrder a{
        text-decoration: none;
    }
}
